:root {
    /* Brand colors */
    --primary: #912B68;        /* main CTA buttons */
    --highlight: #7A144E;      /* hover / secondary accent */

    /* Backgrounds */
    --white: #F2F4F5;          /* main background */
    --off-white: #DADCDD;      /* secondary background */

    /* Neutral greys */
    --grey-1: #E7E9EA;         /* very light sections */
    --grey-2: #DADCDD;         /* cards / dividers */
    --grey-3: #443047;         /* secondary text */
    --grey-4: #2A1B2E;         /* strong text */

    /* Dark text */
    --black: #1C0320;          /* titles and main text */

	/* Typography */
	--font-family: Nunito Sans, -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
	--line-height: 1.5;

	--font-size: 18px;
	--font-size-m: 20px;
	--font-size-l: 22px;

	--body-font-weight: 400;
	--bold-font-weight: 700;

	/* Sizing */
	--spacing-none: 0;
	--spacing-extra-small: .25rem;
	--spacing-small: .5rem;
	--spacing-medium: 1rem;
	--spacing-large: 2rem;
	--spacing-extra-large: 4rem;
	--spacing-extra-extra-large: 8rem;
	--spacing-extra-extra-extra-large: 16rem;

	/* Miscelaneous */
	--border-radius: .25rem;
	--hover-transition: all 150ms ease;
}
